modules = ["python-3.12", "web"]
run = "git push"

[nix]
channel = "stable-24_05"
packages = ["libGL", "libGLU"]

[deployment]
run = ["sh", "-c", "git push"]

[workflows]
runButton = "Run Flask App"

[[workflows.workflow]]
name = "Run Flask App"
author = 44312734
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"
